.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: #ef5350 !important;
}

body {
  background-color: transparent !important;
}

h5 {
    text-transform: capitalize;
    text-align: left;
}

.card {
  margin-top: 25px;
}

.search {
  margin-top: 30px;
}


.footer_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__load {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #CC0000;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.button__load:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}