.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: #ef5350 !important;
}

body {
  background-color: transparent !important;
}

h5 {
    text-transform: capitalize;
    text-align: left;
}

.card {
  margin-top: 25px;
}

.search {
  margin-top: 30px;
}


.footer_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__load {
  border-radius: 4px;
  background: linear-gradient(to right, #CC0000, #3B4CCA) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

.button__load span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button__load span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button__load:hover span{
  padding-right: 25px;
}
.button__load:hover span:after{
  opacity: 1;
  right: 0;
}